<%= provide :title, 'Contact' %>
<h1>Contact us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque aut cumque doloremque eveniet facere harum in laudantium maiores, minima perferendis perspiciatis placeat, quod recusandae rem repudiandae sit, soluta voluptatem?</p>