<% @micropost = micropost %>
<span class="likes <%= "liked" if current_user.liking?(micropost) %>">
  <% if current_user.liking?(micropost) %>
    <%= render partial: 'shared/unlike' %>
  <% else %>
      <%= render partial: 'shared/like' %>
  <% end %>
</span>